<div class="footer">
    <!--底部框-->
    <div class="home-footer-container">
        <div class="home-footer-left">
            <div class="logo-svg">
                <span>关于我们</span>
            </div>

            <div class="logo-slogan">
                <span>助力构建大视听发展新格局。</span>
            </div>
        </div>

        <div class="home-footer-right">
            <span>查看更多</span>
        </div>
    </div>
</div>
<script src="/js/jquery/jquery-1.8.2.js"></script>

