<!-- 搜索框 -->
<div id="search-contanier" class="search-contanier">
    <div class="search">
        <div class="search-button">
            <i class="iconfont icon-sousuo"></i>
        </div>
        <input autocomplete="off" id="searchInput" type="text" class="search-input" />
        <div class="related-search">
            <div>相关搜索：</div>
        </div>
        <div class="search-content"></div>
    </div>
</div>
<script src="/js/jquery/jquery-1.8.2.js"></script>

