<div class="home-header" >
    <div>
        <a href="index.html">
            <div class="home-header-left">
                
                <img src="/images/logo.png" />
            </div>
        </a>

        <div class="home-header-center">
            <div id="index">
                <a href="index.html" >首页</a>
            </div>

            <div>
                <a href="information.html">数据发布</a>
            </div>

            <div class="product-menu">
                <a href="analyse.html">报告</a>
            </div>

            <div>
                <a href="case.html" id="solution">一周视点</a>
            </div>

            <div>
                <a href="menu.html" id="solution">全国卫视节目单</a>
            </div>

            <div>
                <a href="work.html" id="solution">动态</a>
            </div>

            <div>
                <a href="about.html" id="newsTrends">关于我们</a>
            </div>
        </div>
    </div>
</div>
