<div class="footer">
    <!--底部框-->
    <div class="home-footer">
        <!--客户信息-->
        <div class="home-footer-company">
            <div class="footer-logo-left">
                <div class="logo-svg">
                    <span>关于我们</span>
                </div>

                <div class="logo-slogan">
                    <span>助力构建大视听发展新格局。</span>
                </div>
            </div>

            <div class="footer-logo-center">
                <span class="logo-center-title">业务联系</span>

                <div class="footer-center-content">
                    <div class="address">地址：</div>
                    <div class="phone">电话：</div>
                </div>
            </div>

            <div class="footer-logo-right">
                <div class="logo-center-title">更多链接</div>
                <div class="more-link">
                    <div>
                        <a target="_blank" rel="noopener" href="analyse.html"><p>网</p></a>
                        <a target="_blank" rel="noopener" href="channel.html"><p>山东</p></a>
                        <a target="_blank" rel="noopener" href="information.html"><p>东南</p></a>
                    </div>
    
                    <div>
                        <a target="_blank" rel="noopener"><p>湖南</p></a>
                        <a target="_blank" rel="noopener"><p>浙江</p></a>
                        <a href="javascript:;"><p> 东方</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery/jquery-1.8.2.js"></script>

