<div class="qrcode-container">
    <div class="tips">使用手机浏览器或小程序随时查看本站数据</div>
    <div class="code">
        扫一扫
        <i class="iconfont icon-youshuangjiantou"></i>
        <img alt="" style="width:65px;height:65px;margin-left: 20px;" src="/images/code.png" />
    </div>
</div>